<section class="clients" >
    <a [routerLink]="['create-client']" class="clients-link">Создать нового клиента</a>
    <div class="clients-table" *ngIf="clientsList?.length > 0">
       <app-client *ngFor="let client of clientsList; index as i;" 
                   [clientItem] = "client" 
                   [clientItemIndex] = "i">
       </app-client>
    </div>
</section>