.clients {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
    padding:100px 0 100px 0;
    &-table {
        width: 100%;
        border:1px solid rgba(255,255,255,0.5);
        border-bottom:none;
        border-left:0;
        display:flex;
        flex-flow:row;
        flex-wrap: wrap;
        app-client {
            flex:1 29.5%;
            border-left:1px solid rgba(255,255,255,0.5);
            &:nth-child(3n) {
                flex:1 40%;
            }
        }
    }
}

@media screen and (max-width: 768px)  {
    .clients-table app-client {
        flex:1 100%;
        &:nth-child(3n) {
            flex:1 100%;
        }
    }
}