<div class="clients-table-block">
   <ul class="clients-table-block__data" [formGroup]="form">
        <li class="clients-table-block__card" 
            [class.clients-table-block__card] = "keyItem === 'CARD'"
            [class.clients-table-block__name] = "keyItem === 'FIRSTNAME'" 
            *ngFor = "let keyItem of keysOftransformedClientItem">
            <div [class.clients-table-block__name-wrap] = "keyItem === 'FIRSTNAME'"
                 [class.clients-table-block__wrap] = "keyItem !== 'FIRSTNAME'">
                 <div class="clients-table-block__cont">
                    <span *ngIf="editMode !== 'editModeFor-' + keyItem">{{transformedClientItem[keyItem]}}</span>
                    <input type="text" class="clients-table-block__input" 
                        *ngIf="editMode === 'editModeFor-' + keyItem && keyItem !== 'FIRSTNAME'"
                        (focusout) = "checkFieldState(keyItem)" 
                        [formControlName]="keyItem">
                    <textarea class="clients-table-block__input big" 
                        *ngIf="editMode === 'editModeFor-' + keyItem && keyItem === 'FIRSTNAME'"
                        (focusout) = "checkFieldState(keyItem)" 
                        [formControlName]="keyItem">
                    </textarea>
                    <strong class="clients-table-block__error" 
                        *ngIf="(form.get(keyItem).dirty || form.get(keyItem).touched) && form.get(keyItem).invalid && form.get(keyItem).errors.required">
                        Поле {{keyItem}} обязательно
                    </strong>
                    <strong class="clients-table-block__error" 
                        *ngIf="keyItem == 'BIRTHDATE' && (form.get(keyItem).dirty || form.get(keyItem).touched) && form.get(keyItem).invalid && form.get(keyItem).errors.required
                            && form.get('BIRTHDATE').errors.pattern">
                            Введите дату в формате 'DD/MM/YYYY'
                    </strong>
                </div>
                <div class="clients-table-block__btns">
                    <button class="action_button delete" *ngIf="editMode !== 'editModeFor-' + keyItem" (click) = "removeClientStroke(keyItem)">Удалить</button>
                    <button class="action_button delete" *ngIf="editMode === 'editModeFor-' + keyItem" (click) = "cancelEditing(keyItem)">Отмена</button>
                    <button class="action_button" *ngIf="editMode !== 'editModeFor-' + keyItem" (click) = "editClient(keyItem)">Редактировать</button>
                    <button class="action_button" *ngIf="editMode === 'editModeFor-' + keyItem"
                            [disabled] = "form.get(keyItem).invalid" 
                            (click) = "saveEditedClient(keyItem)">Сохранить</button>
                </div>
            </div>
        </li>
    </ul>
</div>