.clients-table-block {
    width: 100%;
    transition: all 0.3s; 
    position: relative; 
    box-sizing: border-box;
    &:hover {
        background-color: rgba(194, 239, 224, 0.3);
    }
    &__cont {
        margin:auto 0;
    }
    &__error {
        font-size: 12px;
        color:red;
        display:block;
        display: block;
        position: relative;
    }
    &__input {
        position: relative;
        outline: none;
        border:solid 1px rgba(255,255,255,0.5);
        background-color: transparent;
        font-size: 12px;
        padding:10px;
        height: 30px;
        margin: auto 0;
        max-width: 100%;
        font-family: 'Roboto', serif;
        resize: none;
        display:block;
        width:140px;
        margin-right: 15px; 
        &.big {
            margin:0 auto;
            font-size: 16px;
            width:250px;
        }
    }
    &__data {
        border-bottom: solid 1px rgba(255,255,255,0.2);
        color: #fff;
        margin:0; 
        padding:0;
    }
    &__btns {
        position: relative;
        display: flex;
        justify-content: center;
        flex-flow: column;
        visibility: hidden;
        opacity: 0;
        height:0;
        .action_button {
            margin:2px;
            display:inline-block;
        }
    }
    &__data li {
        font-size: 14px;
        .clients-table-block__wrap {
            padding: 0 15px 0 15px;
            border-bottom: 1px solid rgba(255,255,255,0.3); 
            display:flex;
            height:70px; 
            justify-content: space-between;
            overflow: hidden;
        }
        &:hover {
            .clients-table-block__btns {
                height: auto;
                width:auto;
                opacity: 1;
                visibility: visible;
                transition: visibility 0.3s ease-out, opacity 0.3s ease-out;
            }
        }
        span {
            margin:auto 0;
        }
        &.clients-table-block__card {
            padding: 5px 15px; 
            background-color: rgba(255,255,255,0.8);
            border:none;
            color:#000;
            font-size: 18px;
            .clients-table-block__input {
                font-size: 16px;
                border-color:#444;
            }
        }
        &.clients-table-block__name {
            display: flex;
            flex-flow: column; 
            background-color: rgba(255,255,255,0.3);
            height: 120px;
            border:none;
            color:#000;
            padding-right: 0;
            padding-left: 0;
            .clients-table-block__btns {
                justify-content: center;
                flex-flow: row;
            }
            span {
                font-size: 17px; 
                text-transform: uppercase; 
                margin: auto 0;
                text-align: center;
                width: 100%;
                transition: all 0.25s ease-out;
                display: block;
            }
            .clients-table-block__name-wrap {
                margin:auto 0;
                position: relative;
            }
            .clients-table-block__btns {
                margin-top: 10px;
            } 
            .clients-table-block__error {
                text-align: center;
            }
        }
    }
    .action_button {
        text-decoration: none; 
        color:#fff; 
        font-weight: bold; 
        border-radius: 5px; 
        background: rgba(255,255,255,0.3); 
        padding: 5px 10px; 
        font-size: 12px; 
        text-transform: uppercase;
        transition: all 0.25s;
        background-color: #73998e;
        cursor: pointer;
        outline:none;
        border:none;
        &:hover {
            opacity: .7;
        }
        &.delete {
            background-color:#d76e6e;
        } 
        &[disabled] {
            opacity: .5;
            cursor: not-allowed;
        }
    }
}