.create-client {
    width: 500px;
    background: #fff;
    border-radius: 10px;
    padding: 72px 55px 72px 25px;
    margin:100px auto;
    position: relative;
    .hidden-input {
        display: none;
    }
    .clients-link {
        position: absolute;
        left:0;
        top:-50px;
        display:table;
    }
    &-form {
        width: 100%;
        &__error {
            font-size: 12px;
            color:red;
            display:block;
            display: block;
            position: relative;
            display: block;
            margin-top: 5px;
        }
        &__title {
            display: block;
            font-size: 20px;
            color: #444;
            line-height: 1.2;
            text-align: center;
            text-transform: uppercase;
            padding-bottom: 70px;
        }
        &__input {
            width: 100%;
            position: relative;
            border-bottom: 2px solid rgba(255,255,255,.24);
            margin-bottom: 27px;
            input {
                display: block;
                width: 100%;
                background: 0 0;
                font-size: 15px;
                color: #000;
                line-height: 1.2;
                padding: 0 15px;
                height: 45px;
                border:none;
                outline:none;
                border:1px solid #000;
                border-radius:4px;
            }
            .input:focus + .focus-input::before {
                width: 100%;
            }
            .has-val.input + .focus-input::before {
                width: 100%;
            }
            .focus-input {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                pointer-events: none;
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    width: 0;
                    height: 2px;
                    -webkit-transition: all 0.4s;
                    -o-transition: all 0.4s;
                    -moz-transition: all 0.4s;
                    transition: all 0.4s;
                    background: #fff;
                }
            }              
        }
        &__btn {
            font-size: 16px;
            color: #555;
            line-height: 1.2;
            text-transform: uppercase;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 10px;
            min-width: 120px;
            height: 40px;
            border-radius: 4px;
            position: relative;
            border:none;
            outline: none;
            z-index: 1;
            background: #80c64a;
            background: -webkit-linear-gradient(-135deg,#25c481, #25b7c4);
            background: -o-linear-gradient(-135deg,#25c481, #25b7c4);
            background: -moz-linear-gradient(-135deg,#25c481, #25b7c4);
            background: linear-gradient(-135deg,#25c481, #25b7c4);
            -webkit-transition: all .4s;
            -o-transition: all .4s;
            -moz-transition: all .4s;
            transition: all .4s;
            &[disabled] {
                opacity: .5;
                cursor: not-allowed;
                &:hover {
                    color:#555;
                    &:before {
                        opacity: 1;
                    }
                }
            }
            &:hover {
                color: #fff;
                &:before {
                    opacity: 0;
                }
            }
            &::before {
                content: "";
                display: block;
                position: absolute;
                z-index: -1;
                border-radius: 4px;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: #ccc;
                opacity: 1;
                -webkit-transition: all 0.4s;
                -o-transition: all 0.4s;
                -moz-transition: all 0.4s;
                transition: all 0.4s;
            }
        }
    }
}