<section class="create-client">
    <a [routerLink]="['']" class="clients-link">Вернуться к списку клиентов</a>
    <form class="create-client-form validate-form" [formGroup]="form">
        <h3 class="create-client-form__title">
            Создайте нового клиента
        </h3>
        <div class="create-client-form__input validate-input">
            <input type="text" placeholder="Номер карты" formControlName="CARD">
            <strong class="create-client-form__error" 
                *ngIf="(form.get('CARD').dirty || form.get('CARD').touched) && form.get('CARD').invalid && form.get('CARD').errors.required">
                Поле 'Номер карты' обязательно
            </strong>
        </div>
        <div class="create-client-form__input validate-input">
            <input type="text" placeholder="Фамилия" formControlName="LASTNAME">
            <strong class="create-client-form__error" 
                *ngIf="(form.get('LASTNAME').dirty || form.get('LASTNAME').touched) && form.get('LASTNAME').invalid && form.get('LASTNAME').errors.required">
                Поле 'Фамилия' обязательно
            </strong>
        </div>
        <div class="create-client-form__input validate-input">
            <input type="text" placeholder="Имя" formControlName="FIRSTNAME">
            <strong class="create-client-form__error" 
                *ngIf="(form.get('FIRSTNAME').dirty || form.get('FIRSTNAME').touched) && form.get('FIRSTNAME').invalid && form.get('FIRSTNAME').errors.required">
                Поле 'Имя' обязательно
            </strong>
        </div>
        <div class="create-client-form__input validate-input">
            <input type="text" placeholder="Отчество" formControlName="PATRONYMIC">
            <strong class="create-client-form__error" 
                *ngIf="(form.get('PATRONYMIC').dirty || form.get('PATRONYMIC').touched) && form.get('PATRONYMIC').invalid && form.get('PATRONYMIC').errors.required">
                Поле 'Отчество' обязательно
            </strong>
        </div>
        <div class="create-client-form__input hidden-input" >
            <input type="hidden" name="name" formControlName="IDPERSON">
        </div>
        <div class="create-client-form__input validate-input" >
            <input type="text" placeholder="Ваш статус" formControlName="STATUSNAME">
            <strong class="create-client-form__error" 
                *ngIf="(form.get('STATUSNAME').dirty || form.get('STATUSNAME').touched) && form.get('STATUSNAME').invalid && form.get('STATUSNAME').errors.required">
                Поле 'Статус' обязательно
            </strong>
        </div>
        <div class="create-client-form__input validate-input" >
            <input type="text" placeholder="Ваш статус" formControlName="ACC1NUM">
            <strong class="create-client-form__error" 
                *ngIf="(form.get('ACC1NUM').dirty || form.get('ACC1NUM').touched) && form.get('ACC1NUM').invalid && form.get('ACC1NUM').errors.required">
                Поле 'ACC1NUM' обязательно
            </strong>
        </div>
        <div class="create-client-form__input validate-input" >
            <input type="text" placeholder="Тип карты" formControlName="CARDTEMPLNAME">
            <strong class="create-client-form__error" 
                *ngIf="(form.get('CARDTEMPLNAME').dirty || form.get('CARDTEMPLNAME').touched) && form.get('CARDTEMPLNAME').invalid && form.get('CARDTEMPLNAME').errors.required">
                Поле 'Тип карты' обязательно
            </strong>
        </div>
        <div class="create-client-form__input validate-input" >
            <input type="text" placeholder="Организация" formControlName="ORGNAMESHORT">
            <strong class="create-client-form__error" 
                *ngIf="(form.get('ORGNAMESHORT').dirty || form.get('ORGNAMESHORT').touched) && form.get('ORGNAMESHORT').invalid && form.get('ORGNAMESHORT').errors.required">
                Поле 'Организация' обязательно
            </strong>
        </div>
        <div class="create-client-form__input validate-input">
            <input type="text" placeholder="Тип персоны" formControlName="PERSONTYPENAME">
            <strong class="create-client-form__error" 
                *ngIf="(form.get('PERSONTYPENAME').dirty || form.get('PERSONTYPENAME').touched) && form.get('PERSONTYPENAME').invalid && form.get('PERSONTYPENAME').errors.required">
                Поле 'Тип персоны' обязательно
            </strong>
        </div>
        <div class="create-client-form__input validate-input" >
            <input type="text" placeholder="Валюта" formControlName="CURRNAME">
            <strong class="create-client-form__error" 
                *ngIf="(form.get('CURRNAME').dirty || form.get('CURRNAME').touched) && form.get('CURRNAME').invalid && form.get('CURRNAME').errors.required">
                Поле 'Валюта' обязательно
            </strong>
        </div>
        <div class="create-client-form__input validate-input" >
            <input type="text" placeholder="Идентификационный номер карты" formControlName="IDCARD">
            <strong class="create-client-form__error" 
                *ngIf="(form.get('IDCARD').dirty || form.get('IDCARD').touched) && form.get('IDCARD').invalid && form.get('IDCARD').errors.required">
                Поле 'Идентификационный номер карты' обязательно
            </strong>
        </div>
        <div class="create-client-form__input validate-input" >
            <input type="text"  placeholder="Дата рождения" formControlName="BIRTHDATE">
            <strong class="create-client-form__error" 
                *ngIf="(form.get('BIRTHDATE').dirty || form.get('BIRTHDATE').touched) && form.get('BIRTHDATE').invalid && form.get('BIRTHDATE').errors.required">
                Поле 'Дата рождения' обязательно
            </strong>
            <strong class="create-client-form__error" 
                *ngIf="(form.get('BIRTHDATE').dirty || form.get('BIRTHDATE').touched) && form.get('BIRTHDATE').invalid && form.get('BIRTHDATE').errors.pattern">
                    Введите дату в формате 'DD/MM/YYYY'
            </strong>
        </div>
        <div class="create-client-form__input validate-input" >
            <input type="text" placeholder="Серия документа" formControlName="DOCSERIES">
            <strong class="create-client-form__error" 
                *ngIf="(form.get('DOCSERIES').dirty || form.get('DOCSERIES').touched) && form.get('DOCSERIES').invalid && form.get('DOCSERIES').errors.required">
                Поле 'Серия документа' обязательно
            </strong>
        </div>
        <div class="create-client-form__input validate-input">
            <input type="text" placeholder="Номер документа" formControlName="DOCNUM">
            <strong class="create-client-form__error" 
                *ngIf="(form.get('DOCNUM').dirty || form.get('DOCNUM').touched) && form.get('DOCNUM').invalid && form.get('DOCNUM').errors.required">
                Поле 'Номер документа' обязательно
            </strong>
        </div>
        <div class="create-client-form__input validate-input">
            <input type="text" placeholder="Идентификатор документа" formControlName="IDTASKAUTHSTATUS"> 
            <strong class="create-client-form__error" 
                *ngIf="(form.get('IDTASKAUTHSTATUS').dirty || form.get('IDTASKAUTHSTATUS').touched) && form.get('IDTASKAUTHSTATUS').invalid && form.get('IDTASKAUTHSTATUS').errors.required">
                Поле 'Идентификатор документа' обязательно
            </strong>
        </div>
        <div class="create-client-form__input validate-input">
            <input type="text" placeholder="Тип документа" formControlName="DOCTYPENAME">
            <strong class="create-client-form__error" 
                *ngIf="(form.get('DOCTYPENAME').dirty || form.get('DOCTYPENAME').touched) && form.get('DOCTYPENAME').invalid && form.get('DOCTYPENAME').errors.required">
                Поле 'Тип документа' обязательно
            </strong>
        </div>
        <button class="create-client-form__btn" [disabled] = "!form.valid" (click) = "sendNewClient()">
            Создать
        </button>
    </form>
</section>